#resume {
    position: relative;
    z-index: 1;
}

.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
}

.resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid var(--text-color);
    position: relative;
}

.resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid var(--text-color);
}

.resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #fff;
    margin-bottom: 10px;
}

.resume .resume-item h5,
.internship h5 {
    font-size: 16px;
    background: #f8f5f4;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
    color: #000;
    border-radius: 15px;
}

.resume .resume-item ul {
    padding-left: 20px;
    text-align: left;
}

.resume .resume-item ul li {
    padding-bottom: 10px;
}

.highlight {
    color: var(--text-color);
}