.about-img-container {
    padding: 3em 0;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)); */
    width: 20em;
    /* background-color: rgb(0, 0, 0, 1); */
    overflow: hidden;
    border-radius: 1em;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1em;
}

.about-img {
    width: 20em;
    height: 25em;
    border-radius: 50%;
    border: 4px solid #ec9552;
    padding: 2px;
    border-radius: 50%;
    border-top-color: #FB8122;
    border-left-color: #FB8122;
    object-fit: cover;
    box-shadow: 0px 1px 2px 0px rgba(37, 37, 37, 0.7), 1px 2px 4px 0px rgba(52, 52, 52, 0.7), 2px 4px 8px 0px rgba(37, 37, 37, 0.7), 2px 4px 16px 0px rgba(44, 43, 43, 0.7);
}