.carousel-control-next span,
.carousel-control-prev span {
    font-weight: 800;
    color: var(--text-color) !important;
    background-color: var(--bg-color);
    border-radius: 6px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.374);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    /* border: 2px solid rgba(26, 26, 26, 0.438); */
}

.carousel-caption {
    padding: .5em !important;
    color: var(--text-color) !important;
    font-weight: 700;
    background-color: var(--bg-color);
    border-radius: 6px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(5px);
    /* border: 1px solid rgba(26, 26, 26, 0.438); */
}

.carousel-caption h5 {
    font-weight: 700;
}

.journey img {
    height: 550px;
    width: 100%;
    object-fit: fill
}

.journey {
    width: 80%;
}

@media only screen and (max-width: 1024px) {
    .journey img {
        height: 350px;
        width: auto;
        object-fit: cover
    }

    .journey {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .journey img {
        height: 200px;
        width: auto;
        object-fit: cover
    }

    .carousel-caption h5 {
        font-size: .6rem;
    }

    .carousel-caption {
        font-size: 0.5rem;
    }
}