.row > .col {
  padding: 0.5rem;
}

.component .certifications {
  min-height: 100vh;
}

.component .certifications ::-webkit-scrollbar {
  scrollbar-width: 0;
}

.component .certifications .card {
  width: 100%;
  height: 30rem;
}

.component .certifications .card .card-header,
.component .certifications .card .card-footer {
  height: 12% !important;
}

.component .card {
  background-color: rgb(40, 40, 40);
}

.component .certifications .card img {
  width: 100%;
  cursor: pointer;
}

.component .certifications .card .card-header {
  height: 20%;
  font-weight: 700;
}
.component .certifications .card .card-body {
  height: 60%;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.component .certifications .card .card-footer {
  height: 20%;
}

.component .certifications .card .card-title {
  font-size: 1.2rem;
}
