body {
    background-color: #121212;
    min-height: 100vh;
    /* user-select: none; */
    font-family: "Raleway", sans-serif;
}

#hero p {
    color: #fff;
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
}

#hero p span {
    color: #FB8122;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid #149ddd;
}