html,
body {
    overflow-x: hidden;
    background-image: linear-gradient(rgba(18, 16, 16, 0.8) 50%, rgba(0, 0, 0, 0.8) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 3px, 3px 100%;
    animation: bg-scrolling 2s infinite linear;
}

@keyframes bg-scrolling {
    100% {
        background-position: 0px 3px;
    }
}

:root {
    --text-color: rgb(219, 166, 34);
    --bg-color: #181818;
    --text-color-rgb: 219, 166, 34;
}

body {
    background-color: var(--bg-color);
    /* user-select: none; */
    font-family: "Lexend", sans-serif;
    width: 100vw;
}

#hero p {
    color: #fff;
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
}

#hero p span {
    color: var(--text-color);
    padding-bottom: 4px;
    letter-spacing: 1px;
}

.name-title {
    color: var(--text-color);
}