html,
body {
    overflow-x: hidden;
}

:root {
    --text-color: #dba622;
    --bg-color: #181818;
}

body {
    background-color: var(--bg-color);
    /* user-select: none; */
    font-family: "Lexend", sans-serif;
    width: 100vw;
}

#hero p {
    color: #fff;
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
}

#hero p span {
    color: var(--text-color);
    padding-bottom: 4px;
    letter-spacing: 1px;
}

.name-title {
    color: var(--text-color);
}